<!-- prettier-ignore-start -->
{% extends "challenge.html" %} {% block input %}
<input id="challenge-id" class="challenge-id" type="hidden" value="{{ challenge.id }}">
<form id="final" action="{{ challenge.validatorURL }}" method="POST">
    <input type="hidden" name="testName" value="{{ challenge.challengeName }}">
    <input type="hidden" name="returnTo" value="{{ challenge.returnTo }}">
    <input type="hidden" name="nonce" value="{{ challenge.nonce }}">
    <input type="hidden" name="eventId" value="{{ challenge.eventId }}">
    <input type="hidden" name="sig" value="{{ challenge.sig }}">
</form>
{% if challenge.hasResult %}
<input id="challenge-input" class="challenge-input" type="text" name="answer" placeholder="Flag" /> {% else %}
<input id="challenge-input" class="challenge-input" type="hidden" name="answer" placeholder="Flag" /> {% endif %} {% endblock %} {% block submit %}
<button id="challenge-submit" class="challenge-submit" type="submit">
	{% if challenge.hasResult %}
	Submit
	{% else %}
	Validate
	{% endif %}
</button> {% endblock %}

<!-- prettier-ignore-end -->